.splash {
    border: 5px solid #ffcc00;
    border-radius: 10px;
    margin: 2rem auto;
    width: 60%;
    text-align: center;
    padding: 5rem 3rem;
    background-color: #000000;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.splash-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* This makes the container take up the full height of the viewport */
}

.centered-image {
    max-width: 25%;
    /* Ensures the image scales responsively */
    height: auto;
    /* Maintains the aspect ratio */
}
.enter-button {
    background-color: #ffc200; /* Custom button color */
    border-color: #ffc200; /* Custom button border color */
    margin-top: 20px; /* Space between image and button */
  }
  
  .enter-button:hover {
    background-color: #e0a800; /* Darker shade for hover effect */
    border-color: #e0a800; /* Darker border for hover effect */
  }

.button-container {
    text-align: center;
    margin-bottom: 20px;
}