.eventbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    padding-top: 60px; /* Adjust the value as needed */
  }

.create-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Full height of the viewport */
    padding-top: 60px; /* Adjust the value as needed */
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.bigdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.eventform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.eventfieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    border: none;
}

.eventinput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.eventbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #ffc200;
    color: #fff;
    cursor: pointer;
}

.eventbutton:hover {
    background-color: #ffc200;
}

