.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    padding-top: 60px; /* Adjust the value as needed */
  }
  
  .edit-game-form {
    text-align: center; /* Optional: Center align text within the profile section */
  }